body{
    background-color: rgb(248, 255, 250);
}

#secoes{
    display: flex;
    margin-top: 30px;
    gap: 25px;
    padding: 10px;




}


.btn-secoes{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border: solid 1px rgb(68, 97, 72);
    border-radius: 20px;
    color: rgb(68, 97, 72);
    background-color: rgb(231, 248, 236);

}

.relevante{
    color: white;
    background-color:  rgb(68, 97, 72);
}


#relatos{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 30px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 15px;
    width: 650px;
    height: 700px;
    padding: 25px;
}

#container{
    display: flex;
    gap: 55px;

}

#map{
    margin-top: 10px;
    border-radius:20px;
    background-color: blanchedalmond;
    width: 500px;
    height: 350px;
}


#lateral{
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    border: solid 1px rgb(233, 232, 232);
    height: 515px;
}

#lateral .button{
    margin-top: 50px;
    width: 100%;

}

#post{
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    border: solid 1px rgb(233, 232, 232);

}

#dados{
    display: flex;
    gap: 10px;

    align-items: center;

}

#dados i{
    margin-left: 325px;
    font-size: 25px;
}

#usuario{
    display: flex;
    gap: 10px;
    align-items: center;
}


#relatos img{
    border-radius: 15px;
    width: 100%;
}

#btn-post{
    display: flex;
    justify-content: space-around;
}



#btn-post button{
    color: rgb(68, 97, 72);
    background-color: transparent;
    padding: 5px;
    border: none;
}


#btn-post i{
    font-size: 20px;
}



